body{
background-color: #FFFFFF;
font-family: Roboto, sans-serif;
color: #434455;
}

.accent{
    color: #2e2f42;
}
.logo{
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;

}

.list1:hover{
        font-family: 'Roboto', sans-serif;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.list2 :hover  .list2 :hover{
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.contacts :focus  .contacts :hover {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}
/*------------ --------------*/
.middle-part{
    background-color: #2E2F42;
}

.text-1{
        color:#FFF;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
}

.btn-1 :hover{
        background: #4D5AE5;
}
/*--------------------------- --------------------------*/

.hidden-text{
visibility: hidden;
}

.middle-part2{
    background-color: #FFF;
}
.text-2{
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.text-3{
        color: #434455;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;

        letter-spacing: 0.32px;
}

/*---------------------- ----------------------*/

.middle-part3{
    background-color: #F4F4FD;
}

.text-4{
        color:#2E2F42;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
}

.text-5{
        color:#2E2F42;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
}

.text-6{
color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/*------------------------- ---------------------------*/

.text-title{
        color: #2E2F42;
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.72px;
}

.text-7{
    color: #2E2F42;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
}

.text-8{
    color: #434455;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
}

/*------------------------- ---------------------------*/

.last-part{
    background: #2E2F42;
}

.text-9{
    color: #F4F4FD;
        font-family: 'Roboto', sans-serif;;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;

}
